body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #161b2f;
    padding: 0px;
    margin: 0px;
}

/* nav bar property */
.navbar{
    background-color: #161b2f;
    font-family: Arial, sans-serif;
    padding: 20px 20px; /*nav bar size control*/
    border-bottom: 1px solid #ccc;
}

.navbar_div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo_div{
    width: 150px; 
    height: auto; 
    padding: 0; 
    margin-left: 100px;
}

.logopic{
    max-width: 100%;
    max-height: 100%;
}

.navbarUl_list_div{
    padding: 0;
    margin-right: 15px;
}

ul {
    display: flex; 
    align-items: center; 
    margin: 0;
    padding: 0;
    transition: color 0.2s, transform 0.2s;

    
}

li{
    list-style: none; display: inline-block;
    transition: color 0.2s, transform 0.2s;

}

li a{
    color: #3696fc;
    font-weight: bold;
    margin-right: 25px;
    font-family: arial;
    font-size: 18px;
    text-decoration: none;
    transition: color 0.2s, transform 0.2s;

}

.loginbtn{
    color: #161b2f;
    border: none;
    font-size: 16px;
    background-color: #3696fc;
    border-radius: 16px;
    height: 38px;
    width: 90px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, color 0.2s, box-shadow 0.2s;

}

.loginbtn:hover{
    background-color: #fff; 
    color: #3696fc;
    border: 2px solid black;
    border-color: black;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar ul li a:hover {
    color: #fff; 
    transform: scale(1.1); 
}


.navbar ul li a:hover {
    text-decoration: underline;
}

/* end of nav bar*/


/* main content */
select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    margin: 10px 0px;
}

.container{
    display: flex;
    justify-content: center;
    padding: 15px;
   
}

.container form{
    width: 80%;
    max-width: 40%;
    background-color: #292b3d;
    padding: 16px;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.015);
    border-radius: 8px;
}

.container input{
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    margin: 10px 0px;
}
.FLname{
    width: 100%;
    display: flex;

}

#lname{
    margin-left: 10px;
}

.container h1{
    color: #fff;
    margin: 5px 0;
    text-align: center;
}
.container label{
    color: #fff; 
}

.messagebox{
    height: 100px;
}

.submit-btn{
    color: #3696fc;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #161b2f;
    border: 2px solid #3696fc;
    padding: 10px 20px;
    border-radius: 22px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s;

}

.submit-btn:hover{
    background-color: #3696fc; 
    color: #fff;
    border: 2px solid #161b2f;
    border-color: #161b2f;
}

/* end of main content*/

/* footer property*/

.footer_div{
    background-color: #292b3d;
    display: flex;
    justify-content: space-evenly;
    padding: 30px 115px 30px 110px;
    margin-top: 60px;
}

.footer_ourProud_div .footer_help_div .footer_information_div .footer_findUs_div{
    flex: 1;
    box-sizing: border-box;
    margin: 5px;
}

.footer_ourProud_div h1, .footer_help_div h1, .footer_information_div h1, .footer_findUs_div h1{

    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}

.footer_ourProud_div a, .footer_help_div a, .footer_information_div a, .footer_findUs_div a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #ffffff;

}

.error-form{
    color: red;
    margin-bottom: 5px;
}
.footer_ourProud_div a:hover
,.footer_help_div a:hover
,.footer_information_div a:hover
,.footer_findUs_div a:hover{
    opacity: 0.7;

}